body{ margin:0} 
#_vue_workplace{padding: 0;margin: 0;display: contents;}
 

  .el-header{
    display: inline-block;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 0;
  }
  
  
  
  
 
  
  